<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodiction">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Foodiction"
        android:roundIcon="@mipmap/foodiction_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodiction">
        <activity
            android:name=".RecipePageActivity"
            android:exported="false" />
        <activity
            android:name=".IngredientsListActivity"
            android:exported="false"
            android:label="Choose" />
        <activity
            android:name=".AddImageRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseRecipeTypeActivity"
            android:exported="false"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Foodiction.NoActionBar" />
        <activity
            android:name=".AddRecipeActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".OpenLogoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            android:label="Add Recipe"
        </activity>
    </application>

</manifest>